* {
    scroll-behavior: smooth;
}
.first{
    background-image: url(images/work5\ \(11th\ copy\).jpg);
    height: 100%;
    position: relative;
}

.a{
    text-align: center;
    padding: 200px;
    top: 80%;
    display: block;
    font-size: 25px;
    font-weight: 400;
    color: white;

}

.logo{
    align-items: center;
    display: block;
}
#para{
    font-size: 16px;
}

#mouse{
    padding: 300px;
    bottom: 30%;
}

.about{
    padding:-800px;
    text-align: center;
}

.service{
    background-image: url(images/s_image.jpg);
    height: 50%;
}

.words{
    text-align: center;
    color: white;
    font-size: 16px;
    padding: 150px;
}
#ab{
    font-family:ro ;
}
.logos{
    padding: 100px;
    position: relative;
    text-align: center;
    
}